
<% @elementos.each do |elemento| %>

<div class="col-lg-4 col-sm-4 hero-feature text-center">
	                <div class="thumbnail">
	                	<a href="detail.html" class="link-p">
	                    	<img alt="veja mais" src="/assets/product-2.jpg">
	                	</a>
	                    <div class="caption prod-caption">
	                        <h5><a href="detail.html">Mardem Lincow RamiresRosa</a>
	                         </h5><h5> <%= elemento.alcunha %> </h5> 


	                        <p>Homicídio, Latrocida, Estrupro</p>
	                        <p>
	                        	</p><div class="btn-group">
		                        	
		                        	<a href="#" class="btn btn-primary"><i class="fa fa-eye"></i> Ver </a>
	                        	</div>
	                        <p></p>
	                    </div>
	                </div>
	            </div>






<% end %>




