<div class="text-center">
	<ul class="pagination catalogue-pagination">
		<li class="disabled"><a>First</a></li>
		<li class="disabled"><a>Prev</a></li>
		<li class="active"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">Next</a></li>
		<li><a href="#">Last</a></li>
	</ul>
</div>