<div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
	<div class="well">
	<form action="">
	    <div class="input-group">
	        <input type="text" class="form-control input-search" placeholder="Digite o Texto de Busca"/>
	    	<span class="input-group-btn">
	    	<button class="btn btn-default no-border-left" type="submit"><i class="fa fa-search"></i></button>
	    	</span>
	    </div>
	</form>
	</div>
</div>